# Server Configuration
APP_SERVER_HOST=0.0.0.0
APP_SERVER_PORT=8081

# Database Configuration
APP_DATABASE_URL=postgres://[Placeholder]:postgres@localhost:15001/bidmart_core

# URL for authentication service
APP_AUTH_BASE_URL=http://localhost:8080
